<launch>
  <node name="move_pupbot" pkg="pupbot" type="move_pupbot"/>
  <!-- <node name="pupbot_stabilizer" pkg="pupbot" type="pupbot_stabilizer"/> -->
  <node name="pupbot_controller_ds4" pkg="pupbot" type="pupbot_controller_ds4" output="screen"/>
  <node name="joy_node" pkg="joy" type="joy_node" output="screen">
    <param name="~dev" value="/dev/input/js2"/>
  </node>
</launch>