<launch>
  <arg name="model" default="$(find pupbot)/urdf/pupbot.xacro" />
  <arg name="rvizconfig" default="$(find pupbot)/rviz/pupbot.rviz" />
  <param name="robot_description" command="$(find xacro)/xacro $(arg model) --inorder" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>