<?xml version="1.0"?>
<launch>
  <arg name="port" default="/dev/ttyACM0"/>
  <include file="$(find icm_20948)/launch/run.launch">
    <param name="port" value="$(arg port)"/>
  </include>
  <node name="dynamixel_control" pkg="pupbot" type="dynamixel_control"/>
  <node name="trot_gait" pkg="pupbot" type="trot_gait"/>
  <node name="standing_motion" pkg="pupbot" type="standing_motion"/>
  <node name="inverse_kinematics" pkg="pupbot" type="inverse_kinematics"/>
  <node name="posture_stabilization" pkg="pupbot" type="posture_stabilization"/>
  <node name="key_control" pkg="pupbot" type="key_control" output="screen"/>
</launch>
